@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Heebo:wght@300&family=Oranienbaum&display=swap');
@import url('icons/icons.css');

body, h1, h3, ul {
    margin: 0; padding: 0;
}
h3 {
    font-family: "Oranienbaum", serif;
    font-size: 50px;
}
p {
    font-family: 'Heebo';
}
* {
    box-sizing: border-box;
}

::-moz-selection { /* Code for Firefox */
    color: #DFDFDF;
    background: #22776d;
}
::selection {
    color: #DFDFDF;
    background: #22776d;
}

/* PORTFOLIO */
.portfolio {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../images/moon.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.portfolio > .logo {
    position: absolute;
    top: 50px; left: 50px;
    font-family: 'Megrim';
    font-size: 30px;
    text-transform: uppercase;
    color: #FFF;
}
.portfolio > .socials {
    position: absolute;
    top: 50px;
    right: 50px;
}
.portfolio > .socials li {
    display: inline;
}
.portfolio > .socials a {
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
}
.portfolio > .jumbo {
    margin: 200px;
    width: 600px;
}
.portfolio h1 {
    font-family: 'Oranienbaum';
    font-size: 60px;
    color: #FFF;
    text-transform: uppercase;
}
.portfolio > .link {
    position: absolute;
    font-family: 'Megrim';
    text-decoration: none;
    text-align: center;
    color: #ECECEC;
    transition-duration: 0.2s;
}
.portfolio > .link:hover { font-size: 25px; }
.portfolio > .link.blog {
    left: 50px;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    text-orientation: upright;
}
.portfolio > .link.projects {
    right: 50px;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    text-orientation: upright;
}


/* SERVICES */
.services {
    padding: 0 200px 100px 200px;
    color: #FFF;
    background-color: #111111;
}
.service-container {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service {
    display: block;
    text-align: center;
    margin-bottom: 50px;
    width: 200px;
    font-family: "Heebo";
    color: #FFF;
}
.service h4 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.service i {
    font-size: 35px;
}
.service li {
    list-style: none;
    margin-bottom: 10px;
}


/* ABOUT */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px 100px 200px;
    color: #FFF;
    background-color: #111111;
}
.about div { width: 50%; }
.about div:first-child { text-align: left; }
.about div:last-child { text-align: right; }
.about a {
    font-family: "Oranienbaum";
    font-style: italic;
    font-size: 50px;
    letter-spacing: 0.5px;
    color: #FFF;
    text-decoration: none;
}
.about p {
    letter-spacing: 0.5px;
    line-height: 30px;
}


/* BLOG TOPBAR */
.topbar {
    padding: 10px 50px 10px 50px;
}
.topbar > .logo {
    font-family: 'Megrim';
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

/* WRAPPER */
.wrapper {
    margin: 0 auto;
    font-family: 'Heebo', serif;
    width: 700px;
}
.wrapper h1 {
    font-size: 40px;
}
.wrapper h1.main {
    font-size: 80px;
}


/* CARD */
.card { 
    margin-top: 50px;
    list-style: none; 
}
.card > .date {
    color: #b4b4b4;
    font-style: italic;
}
.card a {
    font-size: 30px;
    color: #000;
    border-bottom: 1px dotted #000; 
    text-decoration: none;
    transition-duration: 0.2s;
}
.card a:hover {
    padding-bottom: 5px;
}