@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Heebo:wght@300&family=Oranienbaum&display=swap');
@import url('icons/icons.css');

body, h1, h3, ul {
    margin: 0; padding: 0;
}
p {
    font-family: 'Heebo';
}
* {
    box-sizing: border-box;
}

::-moz-selection { /* Code for Firefox */
    color: #DFDFDF;
    background: #22776d;
}
::selection {
    color: #DFDFDF;
    background: #22776d;
}


/* PORTFOLIO */
.portfolio {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../images/moon.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.portfolio > .logo {
    position: absolute;
    top: 50px; left: 50px;
    font-family: 'Megrim';
    font-size: 30px;
    text-transform: uppercase;
    color: #FFF;
}
.portfolio > .socials {
    position: absolute;
    top: 50px;
    right: 50px;
}
.portfolio > .socials li {
    display: inline;
    margin-left: 15px;
}
.portfolio > .socials a {
    font-size: 20px;
    color: #FFF;
    text-decoration: none;
}
.portfolio > .jumbo {
    margin: 200px;
    width: 600px;
}
.portfolio h1 {
    font-family: 'Oranienbaum';
    font-size: 60px;
    color: #FFF;
    text-transform: uppercase;
}
.portfolio > .link {
    position: absolute;
    font-family: 'Megrim';
    text-decoration: none;
    text-align: center;
    color: #ECECEC;
    transition-duration: 0.2s;
}
.portfolio > .link:hover { font-size: 25px; }
.portfolio > .link.blog {
    left: 50px;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    text-orientation: upright;
}
.portfolio > .link.projects {
    right: 50px;
    writing-mode: vertical-rl;
    text-transform: uppercase;
    text-orientation: upright;
}
.portfolio h3, .about h3 {
    font-family: "Oranienbaum", serif;
    font-size: 50px;
}


/* ABOUT */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px 100px 200px;
    color: #FFF;
    background-color: #111111;
}
.about div { width: 50%; }
.about div:first-child { text-align: left; }
.about div:last-child { text-align: right; }
.about a {
    font-family: "Oranienbaum";
    font-style: italic;
    font-size: 50px;
    letter-spacing: 0.5px;
    color: #FFF;
    text-decoration: none;
}
.about p {
    letter-spacing: 0.5px;
    line-height: 30px;
}


/* BLOG TOPBAR */
.topbar {
    position: fixed;
    padding: 20px 0 20px 0;
    left: 0; top: 0; bottom: 0;
    width: 50px;
    text-align: center;
    border-right: 1px solid #ECECEC;
}
.topbar > .logo {
    font-family: 'Megrim';
    text-transform: uppercase;
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-decoration: none;
    color: #000;
}

/* WRAPPER */
.wrapper {
    margin: 50px auto;
    font-family: 'Heebo', serif;
    width: 700px;
}
.wrapper h1 {
    font-size: 40px;
}
.wrapper h1.main {
    font-size: 80px;
}


/* ARTICLE */
.article h1 {
    margin-bottom: 10px;
}
.article li {
    margin-left: 30px;
}
.article h3 {
    margin-top: 20px;
}


/* ARTICLE INFO */
.article-info {
    display: block;
    position: fixed;
    top: 60px;
    left: 100px;
    width: 200px;
}
.article-info > .back {
    display: inline-block;
    padding: 0 15px 0 15px;
    height: 30px;
    line-height: 30px;
    font-family: "Heebo";
    font-size: 14px;
    color: #8a8a8a;
    vertical-align: bottom;
    text-transform: uppercase;
    text-decoration: none;
    border: 1px solid #ECECEC;
    border-radius: 15px;
    transition-duration: 0.2s;
}
.article-info > .back:hover {
    color: #000;
    border: 1px solid #444;
}
.article-info > .tags span {
    margin-right: 2px;
    padding: 2px 8px 2px 8px;
    font-family: "Heebo";
    font-size: 12px;
    border-radius: 1em;
    background-color: #000;
    color: #FFF;
    cursor: default;
}
.article-info h4 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-family: "Heebo";
    font-size: 14px;
    text-transform: uppercase;
}
.article-info ul { margin-left: 15px; }
.article-info li { margin-bottom: 2.5px; }
.article-info ul li a {
    font-family: "Heebo";
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}



/* CARD */
.card { 
    margin-top: 50px;
    list-style: none; 
}
.card > .date {
    color: #b4b4b4;
    font-style: italic;
}
.card a {
    font-size: 30px;
    color: #000;
    border-bottom: 1px dotted #000; 
    text-decoration: none;
    transition-duration: 0.2s;
}
.card a:hover {
    padding-bottom: 5px;
}


/* PROJECTS */
section.projects {
    display: flex;
    margin-left: 70px;
    margin-top: 15vh;
    width: calc(100% - 70px);
    height: 70vh;
}
.timeline { padding: 0 50px 0 50px; }
.timeline p {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}
.timeline li {
    list-style: none;
    font-family: "Oranienbaum", sans-serif;
    font-size: 80px;
    color: #ECECEC;
    cursor: pointer;
    transition-duration: 0.3s;
}
.timeline li:hover { color: #C4C4C4; }
.timeline li.active { color: #000; }
.project-wrapper::-webkit-scrollbar { display: none; }
.project-wrapper {
    display: flex;
    flex-wrap: nowrap;
    width: auto;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.project {
    position: relative;
    margin: 0 25px 0 25px;
    height: 100%;
    min-width: 350px;
    border-radius: 0.5em;
    background-color: #ECECEC;
    overflow: hidden;
}
.project img {
    position: absolute;
	left: 50%;
	top: 50%;
	width: auto;
	height: 110%;
    -webkit-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
			transform: translate(-50%,-50%);
}
.project > .content {
    display: block;
    position: absolute;
    top: 0; left: 0; right: 0; bottom: -50px;
    background-color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    transition-duration: 0.2s;
    z-index: 1;
}
.project > .content:hover {
    bottom: 0px;
}
.project > .content > .info {
    position: absolute;
    left: 25px; bottom: 0px;
}
.project > .content h4 {
    margin: 0;
    font-family: "Oranienbaum", sans-serif;
    font-size: 30px;
    color: #FFF;
}
.project > .content p {
    margin: 0;
    font-size: 18px;
    font-style: italic;
    letter-spacing: 1px;
    color: #A1A1A1;
}
.project > .content > .info > .technologies {
    margin-top: 25px;
    margin-bottom: 25px;
}
.project > .content > .info > .technologies span {
    margin-right: 10px;
    padding: 2px 10px 2px 10px;
    font-family: "Heebo";
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 1em;
    border: 1px solid #A1A1A1;
    color: #A1A1A1;
}

/* FOOTER */
footer {
    padding: 20px 200px 20px 200px;
    font-family: "Heebo";
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999;
    background-color: #111111;
}