@import url('https://fonts.googleapis.com/css2?family=Megrim&family=Heebo:wght@300&family=Oranienbaum&display=swap');

body, h1 {
    margin: 0; padding: 0;
}
p {
    font-family: 'Heebo';
}
* {
    box-sizing: border-box;
}

/* PORTFOLIO */
.portfolio {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('../images/moon.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.portfolio > .logo {
    position: absolute;
    top: 50px; left: 50px;
    font-family: 'Megrim';
    font-size: 30px;
    text-transform: uppercase;
    color: #FFF;
}
.portfolio > .jumbo {
    margin: 200px;
    width: 600px;
}
.portfolio h1 {
    font-family: 'Oranienbaum';
    font-size: 60px;
    color: #FFF;
    text-transform: uppercase;
}
.portfolio > .blog-link {
    position: absolute;
    left: 50px;
    font-family: 'Megrim';
    writing-mode: vertical-rl;
    text-transform: uppercase;
    text-orientation: upright;
    text-decoration: none;
    text-align: center;
    color: #ECECEC;
    transition-duration: 0.2s;
}
.portfolio > .blog-link:hover {
    font-size: 25px;
}

/* BLOG TOPBAR */
.topbar {
    padding: 10px 50px 10px 50px;
}
.topbar > .logo {
    font-family: 'Megrim';
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

/* WRAPPER */
.wrapper {
    margin: 0 auto;
    font-family: 'Heebo', serif;
    width: 700px;
}
.wrapper h1 {
    font-size: 40px;
}
.wrapper h1.main {
    font-size: 80px;
}